html, body{
    height: 100%
}

#holder {
    min-height: 100%;
    position:relative;
    background-color: lightyellow;

    border: 1px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#header {
	padding-left: 15px;
    clear: both;
}

#main {
    padding-bottom: 20px;    /* height of footer */
    min-height: 100%;
}

#title {
    margin-top: 0px;
}

#sidemenu {
    min-height: 100%;
}

#content {
    min-height: 100%;
}

#footer {
    height: 20px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
    text-align:right;
    line-height:14pt;
    font-size:11px;
    color: black;
    border-top: 1px solid black;
}
